<nav>
    <ul class="pagination">
        {% if page_obj.has_previous %}
            {% include "payments/include/page_link.html" with page_number=1 page_text="&#171;" %}
            {% include "payments/include/page_link.html" with page_number=page_obj.previous_page_number page_text="назад" %}
        {% endif %}

        <li class="page-item"><span class="page-link">{{ page_obj.number }} из {{ page_obj.paginator.num_pages }}</span></li>

        {% if page_obj.has_next %}
            {% include "payments/include/page_link.html" with page_number=page_obj.next_page_number page_text="далее" %}
            {% include "payments/include/page_link.html" with page_number=page_obj.paginator.num_pages page_text="&#187;" %}
        {% endif %}
    </ul>
</nav>