<th class="table-active" scope="col">
    
    <form action="{% url 'requisite-list-view' %}" method="get">
        {% if header.name in ordering %}
            {% if "-" in ordering %}
                {% include "payments/include/table_header_cell_inputs.html" with sign="" arrow="&#9660;" %}
            {% else %}
                {% include "payments/include/table_header_cell_inputs.html" with sign="-" arrow="&#9650;" %}
            {% endif %}
        {% else %}
            {% include "payments/include/table_header_cell_inputs.html" with sign="" arrow="" %}
            </div>
        {% endif %}
        {% if search_field %}
            <input type="hidden" name="search_field" value="{{ search_field }}">
        {% endif %}
        {% if search_value %}
            <input type="hidden" name="search_value" value="{{ search_value }}">
        {% endif %}
    </form>
    {% include "payments/include/search_form.html" %}
</th>