<th class="table-active" scope="col">
    <form action="{% url 'requisite-list-view' %}" method="get">
        {% if header.name in ordering %}
            {% if "-" in ordering %}
                <input type="hidden" name="ordering" value="{{ header.name }}" />
                <input type="submit" value="&#9660; {{ header.verbose_name }}">
            {% else %}
                <input type="hidden" name="ordering" value="-{{ header.name }}" />
                <input type="submit" value="&#9650; {{ header.verbose_name }}">
            {% endif %}
                
        {% else %}
            <input type="hidden" name="ordering" value="{{ header.name }}" />
            <input type="submit" value="{{ header.verbose_name }}">
        {% endif %}
        {% if search_field %}
            <input type="hidden" name="search_field" value="{{ search_field }}">
        {% endif %}
        {% if search_value %}
            <input type="hidden" name="search_value" value="{{ search_value }}">
        {% endif %}
    </form>
    {% include "payments/include/search_form.html" %}
</th>