{% extends 'base.html' %}

{% block content %}
    <h1>Роли пользователей</h1>

    <table class="table table-bordered">
        <thead>
            <tr class="table-light">
                <th scope="col">Идентификатор роли</th>
                <th scope="col">Имя пользователя</th>
                <th scope="col">Роль пользователя</th>
            </tr>
        </thead>
        <tbody>
            {% for user_role in object_list %}
                <tr class="table-info">
                    <th scope="row">{{ user_role.pk }}</td>
                    <td>{{ user_role.user.username }}</td>
                    <td>{{ user_role.role }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>


    <nav>
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li class="page-item"><a class="page-link" href="?page=1">&#171;</a></li>
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">назад</a></li>
            {% endif %}

            <li class="page-item"><span class="page-link">{{ page_obj.number }} из {{ page_obj.paginator.num_pages }}</span></li>

            {% if page_obj.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">далее</a></li>
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">&#187;</a></li>
            {% endif %}
        </ul>
    </nav>
{% endblock content %}