<h1>Invoices</h1>
<ul>
{% for invoice in object_list %}
    <li>{{ invoice.pk }} - {{ invoice.amount }} - 
        ** {{ invoice.requisite.pk }} - {{ invoice.requisite.payment_type }} -
        {{ invoice.requisite.card_or_account_type }} - {{ invoice.requisite.full_name }} - 
        {{ invoice.requisite.phone }} - {{ invoice.requisite.limit }} - 
        ** {{ invoice.status }}</li>
{% empty %}
    <li>No invoices yet.</li>
{% endfor %}
</ul>

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>