{% extends 'base.html' %}

{% block content %}
    <h1>Реквизиты</h1>

    <table class="table table-bordered">
        <thead>
            <tr class="table-light">
                {% for header in table_headers %}
                    <th class="table-active" scope="col">
                        {% if header.ordering in ordering %}
                            {% if "-" in ordering %}
                                <a href="?ordering={{ header.ordering }}">
                                    {{ header.name }}
                                </a>
                                &#9660;
                            {% else %}
                                <a href="?ordering=-{{ header.ordering }}">
                                    {{ header.name }}
                                </a>
                                &#9650;
                            {% endif %}
                        {% else %}
                            <a href="?ordering={{ header.ordering }}">
                                {{ header.name }}
                            </a>
                        {% endif %}
                    </th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for requisite in object_list %}
                <tr class="table-info">
                    <th scope="row">{{ requisite.pk }}</td>
                    <td>{{ requisite.payment_type }}</td>
                    <td>{{ requisite.card_or_account_type }}</td>
                    <td>{{ requisite.full_name }}</td>
                    <td>{{ requisite.phone }}</td>
                    <td>{{ requisite.limit }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
    
    <nav>
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li class="page-item"><a class="page-link" href="?page=1&ordering={{ ordering }}">1</a></li>
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}&ordering={{ ordering }}">назад</a></li>
            {% endif %}
    
            <li class="page-item"><span class="page-link">...</span></li>
            <li class="page-item"><a class="page-link" href="#">{{ page_obj.number }}</a></li>
            <li class="page-item"><span class="page-link">...</span></li>
    
            {% if page_obj.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}&ordering={{ ordering }}">далее</a></li>
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}&ordering={{ ordering }}">{{ page_obj.paginator.num_pages }}</a></li>
            {% endif %}
        </ul>
    </nav>
{% endblock content %}